.cover {
    padding: 0 48px;
    position: relative;
} 

.cover__image {
    z-index: 0;
}

 .cover__container {
   min-height: 600px;
   margin: 0 auto;
   position: relative;
   background-image: url("../imagens/campo.background.png");
   background-repeat: no-repeat;
   background-position: center; 
   padding-top: 100px;
  }
  
  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

  } 

  .cover__container:hover .overlay {
    opacity: 0.8;
  } 

  .cover__title {
    font-size: 92px;
    font-weight: 900;
    width: 100%;
    max-width: 656px;
    text-align: center;
    margin-bottom: 32px;
  }

  .cover__subtitle {
    font-size: 18px;
    font-weight: 400;
    max-width: 280px;
    text-align: center;
  }
  
  @media (max-width: 810px) {
    .cover__title { 
      font-size: 72px;
    } 

    .cover {
        padding: 0;
    }
  }

  @media (min-width: 471px) and (max-width: 680px) {

    .cover__title {
      font-size: 48px;
    }
  }

  @media screen and (max-width: 470px) {

    .cover__title { 
      font-size: 32px;
  } 

  .cover__container {
    min-height: 300px;
    width: 100%;
  }

  .cover {
    padding: 0;
  }
  }