.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.header__logo {
    max-width: 270px;
    height: 70px;
    padding-top: 34px;
}

.header__title {
    font-size: 96px;
    text-align: center;
    line-height: 1;
    max-width: 793px;
    margin-bottom: 32px;
    font-weight: 900;
}

.header__subtitle{ 
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    max-width: 720px;
    font-weight: 400;
    margin-bottom: 64px;
}

.header__image {
    max-width: 984px;
    width: 100%;
}

@media (min-width: 471px) and (max-width: 680px) {

    .header__title {
        font-size: 72px;
      }
}

@media screen and (max-width: 470px) {
    
    .header__logo { 
        max-width: 200px;
        height: 51.85px;
    } 

    .header__title { 
        font-size: 40px;
    } 


    .header__subtitle { 
        font-size: 16px;
        line-height: 1.25;
    } 
   
}
