.intro {
    display: flex;
    flex-direction: column;
    padding-left: 148px;
    padding-right: 304px;
    margin: auto; 
  }
  
  .intro__title {
    font-size: 54px;
    line-height: 0.89;
    width: 100%;
    max-width: 828px;
    font-weight: 900;
  }
  
  .intro__quote {
    font-size: 24px;
    line-height: 1.17;
    max-width: 736px;
    font-weight: 400;
  }
  
  .intro__quote-author {
    text-align: end;
    font-size: 24px;
    line-height: 1.17; 
    margin-top: 9px;
    font-weight: 400;
    max-width: 720px;
  }
  
  .intro__text {
    font-size: 16px; 
    line-height: 26px;
    font-weight: 400;
    max-width: 720px;
  }
  
  