.intro {
    display: flex; 
    flex-direction: column;
    padding-left: 148px; 
    padding-right: 304px;
    margin: auto; 
  }
  
  .intro__title {
    font-size: 54px;
    line-height: 0.89;
    width: 100%;
    font-weight: 900;
  }
  
  .intro__quote {
    font-size: 24px; 
    line-height: 1.17; 
    font-weight: normal; 
    width: 88%;
    font-weight: 400;
  }
  
  .intro__quote-author {
    text-align: end;
    width: 88%;
    font-size: 24px;
    line-height: 1.17; 
    font-weight: normal;
    margin-top: 9px;
    font-weight: 400;
  }
  
  .intro__text {
    font-size: 16px; 
    line-height: 26px; 
    font-weight: normal;
    font-weight: 400;
  }
  
  