.places {
    margin: auto;
}

.places-list {
    list-style: none;
}

.places-list__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
}

.places-list__title {
    max-width: 484px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    margin: 0;
    padding-top: 80px;
}

.places-list__artist {
    margin-top: auto;
}

.places-list__artist-label {
    color: #AAAAAA;
    letter-spacing: 12%;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.25;
    font-size: 12px;
    margin: 0;
}

.places-list__artist-name {
    font-weight: 400;
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 0;
}

.places-list__image {
    width: 100%;
    max-width: 460px;
}

.places-list__content {
    display: flex;
    flex-direction: column;
    grid-row-start: span 3;
}

.places-list__paragraph {
    font-weight: 400;
    font-size: 18px;
    row-gap: 25px;
    padding-right: 148px; 
}

@media (min-width: 867px) and (max-width: 1050px) {
    .places-list__paragraph {
        padding-right: 50px;
    }
}

@media (min-width: 681px) and (max-width: 866px) {

     .places-list__title { 
        font-size: 42px; 
        max-width: 340px; 
      } 
    
      .places-list__paragraph { 
        font-size: 16px; 
        padding-right: 10px;
      } 
    
      .places-list__image { 
        max-width: 340px; 
      } 
}

@media (min-width: 471px) and (max-width: 680px) {

    .places-list__item {
        grid-template-columns: 1fr;
      }
  
      .places-list__content {
        display: flex;
        flex-direction: column;
      }
}

@media screen and (max-width: 470px) {

    .places-list {
        padding: 0;
      }
  
      .places-list__item { 
          display: grid;
          grid-template-columns: 1fr;  
          padding: 0;
          margin: 0;
      } 
  
      .places-list__title { 
          font-size: 32px; 
          padding-right: 16px;
          padding-left: 16px;
      } 
  
      .places-list__artist {
        padding-right: 16px;
        padding-left: 16px; 
      }

      .places-list__image { 
        width: 100%;
        margin: auto;
      } 

      .places-list__content {
        display: flex;
        flex-direction: column; 
        padding-right: 16px;
        padding-left: 16px;
      }

      .places-list__paragraph { 
          font-size: 16px;
          padding-right: 0;
      } 
}
            